body {
    background-color: beige;
    margin: 0 auto;
}
#container{
    height: 100vh;
    background-color: rgb(124, 124, 124);
    display: flex;
    align-items: center;
    justify-content: center;
}
#spaceC{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: auto;
    padding: 5%;
}
h1 {
    font-size: 30px;
}